<div id="home-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://www.bupaacibadem.com.tr/media/4656/genc_hasta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yatarak Tedavi Teminatı</h5>
                <p class="card-text">Yüksek maliyetli risklere karşı korunmak ve güvende hissetmek için.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button href="sales/index" type="button" class="btn btn-sm btn-outline-secondary">Satın Al</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://www.bupaacibadem.com.tr/media/4657/efor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ayakta Tedavi Teminatı</h5>
                <p class="card-text">Yatış gerektirmeyen tedavilerde doktor ziyaretleri ve tetkikler<br />için</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Satın Al</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
